/*-- scss:defaults --*/
// quarto-scss-analysis-annotation { "origin": "ulaval" }

// Fonts
@font-face {
  font-family: 'font-title';
  src: url("fonts/SourceCodePro-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'font-base';
  src: url("fonts/SourceCodePro-Light.ttf") format("truetype");
}

$theme: "ulaval" !default;

//
// Color system
//

$white:    #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #515151 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000000 !default;

$blue:    #0099ff !default;
$indigo:  #7b003d !default;
$purple:  #702e78 !default;
$pink:    #e83e8c !default;
$red:     #e30513 !default;
$orange:  #f7a941 !default;
$yellow:  #ffc103 !default;
$green:   #51a27e !default;
$teal:    #20c997 !default;
$cyan:    #0099ff !default;

$primary:       $red !default;
$secondary:     $gray-700 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-700 !default;

$min-contrast-ratio:   2.6 !default;

// Options

$enable-rounded: false !default;

// Body

$body-color:    $gray-700 !default;

// Link 
$link-color: $red !default;
$link-hover-color: $link-color !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif: font-base, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headings-font-family: font-title !default;

// Navbar

$navbar-dark-hover-color:       rgba($white, 1) !default;
$navbar-light-hover-color:      rgba($black, .9) !default;

// Alerts

$alert-border-width:            0 !default;

// Progress bars

$progress-height:               .5rem !default;

// Font sizes
$font-size-base: 1rem !default;
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// Title
h1 {
  color: $primary !important; 
}

h2, h3 {
  color: $primary !important; 
}

// Footer

.nav-footer .nav-footer-center .link-footer {
  color: $link-color;
}

/*-- scss:rules --*/


// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;400;600;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

// Typography

body {
  -webkit-font-smoothing: antialiased;
}

// Indicators

.badge {
  &.bg-light {
    color: $dark;
  }
}

// Progress bars

.progress {
  @include box-shadow(none);

  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}


// quarto-scss-analysis-annotation { "origin": null }
